<p id="notice"><%= notice %></p>

<h3>Distribuidores</h3>



  <div id="categories_div"><%= render 'distribuitors' %></div><!--renders distribuitors partial -->

</div>

<%= link_to 'Cadastrar Distribuidor', new_distribuitor_path, class: "btn btn-outline-primary" %>



