<h3>Distribuidores</h3>



  <div id="categories_div">
    <%= render 'distribuitors' %>
  </div><!--renders distribuitors partial -->



<%= link_to 'Cadastrar Distribuidor', new_distribuitor_path, class: "btn btn-outline-primary" %>