<h3>Gerenciar Acervo</h3>

  <div id="movies_div">
    <%= render 'movies' %>
  </div><!--renders movies partial -->

<%= link_to 'Cadastrar Filme', new_movie_path, class: "btn btn-outline-primary" %>