<h3>Gerenciar Clientes</h3>

  <div id="clientes_div">
    <%= render 'customers' %>
  </div><!--renders distribuitors partial -->



<%= link_to 'Cadastrar Cliente', new_customer_path, class: "btn btn-outline-primary" %>