<h3>Dependentes</h3>

  <div id="dependentes_div">
    <%= render 'depends' %>
  </div><!--renders genres partial -->

<%= link_to 'Cadastrar Dependente', new_depend_path, class: "btn btn-outline-primary" %>