
<p>
  <strong>Nome:</strong>
  <%= @medium.name %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @medium.value %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
